TURSO_URL=https://pfelders-2027-umfrage-mimi800-debug21.aws-ap-northeast-1.turso.io
TURSO_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzUxNTU1NDcsImlkIjoiMDE5ZDRmODMtY2MwMS03NDAwLWE0NmUtMzRhMWFiZTU2OTBmIiwicmlkIjoiMGIxN2M0YjUtZWFkMi00ZGJiLTlmZTgtZGFkOWMwMmI1M2RhIn0.eJQE_fg7BSKRt6Mf0svrOhzJeSUHhle6-Kgf651fsGuQ5VX7j8FjdlWXe7SYUNf32-lX3kIFkYhH6GL3D1rRCg
